@page "/"

<Container Class=@Constants.ClassJumboTron>
    <PageTitle>Joshua Crompton</PageTitle>

    <Title>Hello, I'm Joshua Crompton</Title>

    <Subtitle>I'm a Tools Programmer in the Games Industry, currently working at Media Molecule.</Subtitle>

    <p>Paragraph text</p>
</Container>
<Container>
    <RowResponsive>
        <Card Size=6>
            <ContentTitle>Media Molecule</ContentTitle>
            <p>Short blurb about Media Molecule</p>
        </Card>
        <Card Size=6>
            <ContentTitle>Sports Interactive</ContentTitle>
            <p>Short blurb about Sports Interactive</p>
        </Card>
    </RowResponsive>
</Container>
