@page "/"
@using JoshuaCrompton.Components

<PageTitle>Josh Crompton</PageTitle>

<LargeTitle>Hello</LargeTitle>

<Container>
    <p>I'm Josh Crompton, a Tools Programmer currently at Media Molecule.</p>
    <p>I've also worked on Engine/Gameplay/Animation.</p>
    <p>I work in any language, mainly C++ (11/14/17), C, C#, Python.</p>


</Container>

