@page "/"

<div class="row align-items-center vh-100 py-4">
    <ColumnResponsive>
        <PageTitle>Josh Crompton</PageTitle>

        <Title>Hello, I'm Josh Crompton.</Title>

        <Subtitle>I'm a Games Programmer, currently working on Tools at <a href="https://www.mediamolecule.com/jobs">Media Molecule</a> (we're hiring, come join us!).</Subtitle>

        <p>Before that, I spent almost 8 years at <a href="www.sigames.com">Sports Interactive</a> working on the annual <a href="https://www.footballmanager.com/">Football Manager</a> series, joining as a fresh Junior, and leaving as a Lead Software Engineer.</p>

        <p>I've worked across <b>tools</b>, <b>engine</b>, <b>AI</b>, <b>gameplay</b>, and <b>animation</b> programming, always on proprietary engines, and was even one of the main motion capture actors for Football Manager.</p>

        <p>I have extensive experience working in <b>C++</b> (including modern C++ - C++ 11/14/17), <b>C</b>, <b>C#</b>, <b>Python</b>, <b>JavaScript/Typescript/HTML/CSS</b>, and my new favourite web stack, <b>Blazor/Razor/ASP.NET Core</b>.</p>

        <p>I have experience in team <b>roadmap planning</b>, have personally <b>onboarded</b> and <b>mentored</b> many new joiners at various experience levels, and at Sports Interactive set up a company-wide mentoring and training program for all Junior Programmers across a studio.</p>

        <p>I've helped ship 10 titles across 12 platforms (PC, various consoles, mobile), with over 9 million units sold.</p>

        <p>I have an <b>MEng Computer Science</b> from the University of Bristol, where my dissertation was on use of technologies in mental health interventions for adolescents.</p>

        <p>Say hello, you can find me on <a href=@Constants.LinkLinkedIn>LinkedIn</a> or on <a href=@Constants.LinkTwitter>Twitter</a>.</p>
    </ColumnResponsive>
</div>
