@page "/"

<PageTitle>Joshua Crompton</PageTitle>

<Title>Joshua Crompton</Title>

<Subtitle>A subtitle</Subtitle>

<ContentSection>
    <ContentTitle>This is content title</ContentTitle>
    <p>This is some content text</p>
</ContentSection>