@page "/si"

<Container>
    <PageTitle>Josh Crompton</PageTitle>

    <Title>Sports Interactive</Title>

    <Subtitle>Short shout about Sports Interactive Football Manager.</Subtitle>

    <p>More details, maybe a bullet point list?</p>
</Container>
<Container>
    <RowResponsive>
        <Card Size=4>
            <ContentTitle>Football Manager 2013</ContentTitle>
            <ContentSubTitle>Release date, platforms</ContentSubTitle>
            <p>Short bit about what I did for FM13</p>
        </Card>
        <Card Size=4>
            <ContentTitle>Football Manager 2014</ContentTitle>
            <ContentSubTitle>Release date, platforms</ContentSubTitle>
            <p>Short blurb about what I did for FM14</p>
        </Card>
        <Card Size=4>
            <ContentTitle>Football Manager 2015</ContentTitle>
            <ContentSubTitle>Release date, platforms</ContentSubTitle>
            <p>Short blurb about what I did for FM15</p>
        </Card>
    </RowResponsive>
</Container>

