@inherits LayoutComponentBase

<div class="page">
    <Container Class="px-4 my-4">
        <header>
            <NavSection />        
        </header>

        <main>
            <Container Class="py-3">
                @Body
            </Container>
        </main>
    </Container>
</div>
