<div class=@GetClass()>
  @ChildContent
</div>

@code
{
  [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { private get; set; }

    private string GetClass()
    {
      const string className = "container";
      if( Class != null )
      {
        return className + " " + Class;
      }
      return className;
    }
}