@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavBar>
            <NavBarLink>Hello</NavBarLink>
            <NavBarLink>Hello</NavBarLink>
            <NavBarLink>Hello</NavBarLink>
        </NavBar>
    </header>

    <main>
        <Container>
            @Body
        </Container>
    </main>
</div>
