@inherits LayoutComponentBase

@using JoshuaCrompton.Components.Bootstrap

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main>

    <NavBar>
        <NavLink>Hello</NavLink>
    </NavBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
